body{
    background-image: url(Images/bg.webp);
    color: white;
}

#cim{
    text-align: center;
    font-size: 2cm;
    color: white;
}

p{
    color: white;
    font-size: 5mm
}

#band{
    color: white;
}

td{
    font-size: 1cm;
    border: 2mm, solid white;
}